* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding-top: 30px;
  gap: 30px 20px;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.profession__modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill__modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__name {
  margin-right: 20px;
  max-width: 80%;
  white-space: normal;
}

.card__description {
  margin-right: 20px;
  max-width: 80%;
  white-space: normal;
}
