.ant-layout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.ant-typography-title {
  margin-bottom: 16px;
}

.ant-typography-paragraph {
  margin-bottom: 24px;
}

.home-col {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}

.content-center {
  padding: 4px;
  text-align: center;
  padding-bottom: 2%;
}

.image-professions {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.5s ease;
}

.image-professions:hover {
  transform: scale(1.04);
}

.redirect-button {
  margin: 20px 0;
  transition: transform 0.5s ease;
}

.redirect-button:hover {
  transform: scale(1.05);
}

.content-main-paragraph {
  font-size: 18px;
}
.content-row {
  margin-top: 40px;
}

.content-subparagraph {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}