* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

.layout { 
  min-height: 100vh !important;
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  padding-top: 30px;
  gap: 30px 20px;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.card__style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__name {
  margin-right: 22px;
  max-width: 100%;
  white-space: normal;
  font-size: 20px;
  font-weight: 600;
}

.card__description {
  max-width: 100%;
  white-space: normal;
  font-size: 13px;
  text-align: right;
}

.ant__title {
  user-select: none !important;
}

.ant-layout-content {
  min-height: 100vh !important;
}
.content, .ant-layout-content {
  position: relative;
  background-color: #e9ebee;
  padding: 0 48px;
}

.ant-spin-nested-loading {
  position: static !important;
  justify-content: center;
  align-items: center;
}

.loader__spin {
  position: absolute !important;
  top: 0 !important;
  inset-inline-start: 0 !important;
  z-index: 4 !important;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  max-height: 90% !important;
}

.loader__spin .ant-spin-text {
  padding-left: 0.2rem;
}

.ant-layout-header {
  display: flex;
  position: relative;
  height: 3rem !important;
  line-height: 3rem !important;
}

.menu__layout li span a{
  color: #fff !important;
  font-size: 1rem;
  transition: color 0.2s ease !important;
}

.menu__layout li span a:hover{
  color: #a0a5aa !important;
}

.header__layout {
  display: flex;
  background-color: #343a40 !important;
  border-bottom: 3px solid;
  border-color: #ff5c57 !important;
}

.header__layout > .menu__layout {
  background-color: #343a40 !important;
  display: flex;
  flex: 1;
  min-height: 0;
}

.header__layout > .menu__layout .ant-menu-overflow-item {
  padding: .0rem 0.9rem;
}

.header__layout > .menu__layout  a, div.ant-menu-submenu a  {
  color: #fff !important;
  font-size: 1rem;
}

.header__layout > .menu_layout_right {
  display: block;
  margin-left: auto !important;
  text-align: right !important;
}

.ant-menu-dark.ant-menu-submenu-popup>.ant-menu {
  background-color: #343a40 !important;
}

.footer__layout {
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #343a40 !important;
  color: #999 !important;
}

div.footer__div-refs {
  position: relative;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 4rem);
}

div h5.footer__h5 {
  margin-top: 1%;
  user-select: none;
}

@media screen and (max-width:760px) {
  .header__layout > .menu_layout_right {
    display: none !important;
  }

  .header__layout > .menu__layout .ant-menu-overflow-item {
    font-size: 0.86rem !important;
    font-weight: 350 !important;
    padding: .0rem 0.5rem !important;
  }
  .menu__layout li span a{
    color: #fff !important;
    font-size: 1rem;
    transition: color 0.2s ease !important;
  }
  
  .menu__layout li span a:hover{
    color: #a0a5aa !important;
  }

  .header__layout > .menu__layout  a, div.ant-menu-submenu a  {
    color: #fff !important;
    font-size: 0.86rem !important;
  }

  .content, .ant-layout-content {
    position: relative;
    background-color: #e9ebee;
    padding: 0 20px;
  }

  div.footer__div-refs {
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 4rem);
  }
} 