.cards__professions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-gap: 30px 20px;
  }

.card__scaling {
    border: 1px solid transparent;
    transition: transform 0.6s ease !important;
    transition : border 1s ease-out;
}

.card__scaling:hover {
    transform: scale(1.03) !important;
    border-color: #4096ff;
}

.card__notify {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  line-height: 26px !important;
  font-size: 18px;
}

.card__style {
  justify-content: center !important;
}

.card__name {
  margin-right: 0px;
}

.card__descr {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  line-height: 26px !important;
  font-size: 16px;
}

.card__scaling > .card__title {
  text-align: center;
}
.card__scaling > p.card__descr {
  text-align: center;
}
